<!--
  Generated template for the WorkShiftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Plan de trabajo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content-theme"> 
  <ion-card>
      <div>
        <ion-list>
          <ion-item>
            <ion-label>Nombre del plan</ion-label>
            <ion-input placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Locación</ion-label>
            <ion-select [(ngModel)]="model.location">
            <ion-option *ngFor="let location of model.locationList; let i = index" value="{{i}}" >{{location.name}}  </ion-option>
          </ion-select>
          </ion-item>
        </ion-list>
        
      </div>
  </ion-card>
  <!-- WorkDaysList -->
  <ion-card *ngFor="let shift of model.shifts; let i = index">
    <ion-list>
      <ion-list-header color="dark">
        Turno
        <button item-end color="danger" ion-button (click)="removeShift(i)">
          <ion-icon item-start name="remove-circle"></ion-icon>
          remover
        </button>
      </ion-list-header>
      <ion-item>
        <ion-label>Días</ion-label>
        <ion-select [(ngModel)]="shift.days" multiple="true">
          <!-- AvailableDays list-->
          <ion-option *ngFor="let day of availableDays">{{day}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col col-12 col-sm no-padding>
          <ion-item>
            <ion-label>Inicio </ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="shift.startTime"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm no-padding>
          <ion-item>
            <ion-label>Fin </ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="shift.endTime"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item-divider>
        Guardias

        <button ion-button item-end (click)="addGuardToShift(shift)">
          <ion-icon item-start name="add"></ion-icon>
          Agregar
        </button>
      </ion-item-divider>
      <ion-item *ngFor="let guard of shift.guards">
        <ion-avatar item-start><img src="assets/imgs/guardia-img.jpg"></ion-avatar>
        {{guard.name}}
        <button ion-button item-end icon-only color="danger" clear><ion-icon name="remove-circle"></ion-icon></button>          
      </ion-item>
     
      
    </ion-list>
  </ion-card>
    
  <ion-card>
    <button ion-item (click)="addShift()">
      <ion-icon name="add-circle" item-start></ion-icon>
      Agregar turno
    </button>
  </ion-card>
</ion-content>
