page-visitor {
    .img-container{
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 8px 0px black;
    }
    .autocomplete{
        ion-list {
            left: 0px;
            top:0px;
            position: absolute;
            width: inherit;
            overflow-y: scroll;
            max-height: 150%;
            z-index: 999;
    
            ion-item {
    
                img {
                    max-height: 2.5rem;
                    width: auto;
                    margin: auto;
                    display: block;
                }
            }
    
            ion-item:hover {
                cursor: pointer;
                background: #f1f1f1
            }
        }
    }
}
